<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="jQuery.js"></script>
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
<div class="header">
    <img class="headerpic" src="http://dukejy.com/images/top.jpg" />
    <ul class="headerul">
        <li class="aboutUsLi">
            <span class="Us">关于我们</span>
            <ul class="aboutUs">
                <li>公司简介</li>
                <li>创始人寄语</li>
            </ul>
        </li>
        <li>独课高端申请</li>
        <li>
            <span class="courSe">精品课程</span>
            <ul class="course">
                <li>暑假雅思课程</li>
                <li>暑假托福课程</li>
                <li>暑假SAT课程</li>
                <li>暑假SSAT课程</li>
                <li>暑假ACT课程 </li>
                <li>雅思精英全程班</li>
                <li>托福精英全程班</li>
                <li>SAT定制名师班</li>
                <li>（幼狮计划）能力课程</li>
                <li>尊享计划</li>
            </ul>
        </li>
        <li>名师风采</li>
        <li>明星学员</li>
    </ul>
</div>
<div class="promo">
    <a href="#" class="arrow-l">&lt;</a>
    <a href="#" class="arrow-r">&gt;</a>
    <ul class="imgs">
        <li><img src="https://njnufxd.oss-cn-hangzhou.aliyuncs.com/066DB6E1B61224D7A1602AB8C6040FB7.png"></li>
        <li><img src="https://njnufxd.oss-cn-hangzhou.aliyuncs.com/E55C36BD9800E344ADC0F8BA3E39C51F.png"></li>
        <li><img src="https://njnufxd.oss-cn-hangzhou.aliyuncs.com/58818EFDFCE36AE4522B42E6E769BFD4.png"></li>
        <li><img src="https://njnufxd.oss-cn-hangzhou.aliyuncs.com/9925505497D4B489436BE45ED650ED64.png"></li>
        <li><img src="https://njnufxd.oss-cn-hangzhou.aliyuncs.com/AE4E49B9F4A5306E11B15FB790E55539.png"></li>
    </ul>
    <ul class="promo-nav">
    </ul>
</div>
<div class="word">
    <h1>为什么选择独课留学？</h1>
    <p class="des">独课留学（Do Commitment）由具有近十年出国语言考试培训、美国名校申请和北美职业规划经验的徐志坚老师创建，公司专注于国外考试课程定制化服务以及美国名校申请咨询服务。推出一对一的量身定制课程和2-6人精品小班课程及网络课程，汲取美式精英教育的精华，徐志坚老师提出了“career readiness”与语言培训相融合的理念，从北美引入了“职业准备”的测试系统及相关课程，为广大学子的语言学习及申请规划提供了关键性指引。</p>
    <div class="video">视频</div>
</div>
<div class="main">
    <p style="text-align: center;font-size:50px;">课程设置</p>
    <div>
        <div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <a href="#">查看更多课程</a>
</div>
<div class="main2">
    <ul class="select">
        <li index="0" class="spe">暑期雅思课程</li>
        <li index="1">暑期托福课程</li>
        <li index="2">暑期SAT课程</li>
        <li index="3">暑期SSAT课程</li>
        <li index="4">暑期ACT课程</li>
    </ul>
    <ul class="DES">
        <li class="spe">
            <p>授课形式：线上/线下</p>
            <p>班型设计：2人班、6人班</p>
            <p>课程设计：</p>
            <p>1.基础班（60课时、2次模考）</p>
            <p>2.强化班（60课时、2次模考）</p>
            <p>课程体系</p>
            <p>完整的“课前-课中-课后”体系</p>
            <p>课前，我们会为每位同学发放单词并由专门的老师负责单词抽背和讲解课程。</p>
            <p>课中，除了理论课之外，我们安排了精讲课内容，配以名师们录制的逐题视频讲解，极大的丰富了课程内容。每天，都将由老师全程</p>
            <p>陪伴每一位同学，记录你们在独课学习的每个瞬间，</p>
            <p style="color:red;">更多>></p>
        </li>
        <li>
            <p>授课形式：线上/线下</p>
            <p>班型设计：2人班、6人班</p>
            <p>课程设计：</p>
            <p>基础班（2人小班50课时、两次模考；6人小班60课时、两次模考）</p>
            <p>强化班（2人小班50课时、两次模考；6人小班60课时、两次模考）</p>
            <p>适应人群</p>
            <p>基础班：未参加过托福考试或者学习过托福基础班的同学；</p>
            <p>　　　　参加过托福考试或者模拟考试单项平均分约18分（或以下）的同学</p>
            <p style="color:red;">更多>></p>
        </li>
        <li>
            <p>服务特色</p>
            <p>1. 资深专业老师授课</p>
            <p>2. 理论课与逐题精讲课双轨教学</p>
            <p>3. 每日精确到分钟的学习任务安排与学习监督</p>
            <p>4. 每日阅读单词与听力单词过关词测</p>
            <p>5. 每日详细学生学习反馈与各科结课反馈</p>
            <p>6. ****真题试卷资料</p>
            <p>7. 课程配套笔记与**全单项练习资料</p>
            <p>课程特色：</p>
            <p>使用********考场真题 </p>
            <p>赠送全套视频逐题讲解课程，总计 60小时</p>
            <p style="color:red;">更多>></p>
        </li>
        <li>
            <p>服务特色</p>
            <p>1. 资深专业老师授课</p>
            <p>2. 理论课与逐题精讲课双轨教学</p>
            <p>3. 每日精确到分钟的学习任务安排与学习监督</p>
            <p>4. 每日阅读单词过关词测词测</p>
            <p>5. 每日详细学生学习反馈与各科结课反馈</p>
            <p>6. ****真题试卷资料</p>
            <p>7. 课程配套笔记与**全单项练习资料</p>
            <p>课程特色：</p>
            <p>使用********考场真题 </p>
            <p>赠送全套语法单句练习，解析及视频知识点讲解</p>
            <p style="color:red;">更多>></p>
        </li>
        <li>
            <p>服务特色</p>
            <p>1. 资深专业老师授课</p>
            <p>2. 理论课与逐题精讲课双轨教学</p>
            <p>3. 每日精确到分钟的学习任务安排与学习监督</p>
            <p>4. 每日阅读单词过关词测词测</p>
            <p>5. 每日详细学生学习反馈与各科结课反馈</p>
            <p>6. ****真题试卷资料</p>
            <p>7. 课程配套笔记与**全单项练习资料</p>
            <p>配套服务：</p>
            <p>课前预习（单词抽查及讲解），课中全程监管（查单词，查作业，监督</p>
            <p style="color:red;">更多>></p>
        </li>
    </ul>
    <img src="http://dukejy.com/images/ewm1.jpg">
    <a href="#">查看更多课程</a>
</div>
<div class="main3">
    <p style="text-align: center;font-size:50px;color: red;">申请服务</p>
    <div>
        <ul>
            <li>
                <img src="https://njnufxd.oss-cn-hangzhou.aliyuncs.com/066DB6E1B61224D7A1602AB8C6040FB7.png">
                <a>王沛</a>
            </li>
            <li>
                <img src="https://njnufxd.oss-cn-hangzhou.aliyuncs.com/E55C36BD9800E344ADC0F8BA3E39C51F.png">
                <a>杨勇</a>
            </li>
            <li>
                <img src="https://njnufxd.oss-cn-hangzhou.aliyuncs.com/58818EFDFCE36AE4522B42E6E769BFD4.png">
                <a>张峰</a>
            </li>
        </ul>
        <ul>
            <li>
                <img src="https://njnufxd.oss-cn-hangzhou.aliyuncs.com/9925505497D4B489436BE45ED650ED64.png">
                <a>孙杨</a>
            </li>
            <li>
                <img src="https://njnufxd.oss-cn-hangzhou.aliyuncs.com/AE4E49B9F4A5306E11B15FB790E55539.png">
                <a>儍逼</a>
            </li>
            <li>
                <img src="https://njnufxd.oss-cn-hangzhou.aliyuncs.com/187A31C768198AF526B643C807F0ED98.png">
                <a>孙珈瑜</a>
            </li>
        </ul>
    </div>
</div>
<script src="/js/jQuery.js"></script>
<script src="/js/index.js"></script>
</body>

</html>